<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
	<appSettings>
		<add key="APIToken" value="7360231050:AAEZF4oPEvfhMb5_cm4TOp2Kv8L-0DJh3x4" />
	</appSettings>
	
	<connectionStrings>
		<add name="connectString" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\myProjects\C#\Schedule_Bot\Schedule Bot\DataBase\Database.mdf;Integrated Security=True"/>
	</connectionStrings>
	
</configuration>
